@import "./vars.css";
@import "./pages/home_page/hero.css";
@import "./container.css";
@import "./components/header.css";
@import "./button.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

body {
    /* overflow-x: hidden; */
}

/* #root {
    min-height: 100vh;
} */