@import "../../../style/vars.css";

.button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: .1s ease-in;
}

.Primary {
    color: #ffffff;
    font-size: 1rem;
    background-color: $primaryColor;
    border-radius: 0.75rem;
    font-weight: 700;
    padding: 0.7em 2em;
    filter: drop-shadow(-15px 10px 30px rgba(4, 82, 215, 0.25));
    &:hover {
        background-color: #2C17AB;
    }
}
